<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:appfn="http://schemas.android.com/apk/androidx.appfunctions">

    <application>
        <service
            android:name="androidx.appfunctions.internal.AppFunctionTileService"
            android:permission="android.permission.BIND_APP_FUNCTION_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.appfunctions.action.APP_FUNCTION_SERVICE" />
            </intent-filter>
        </service>

        <property
            android:name="android.app.appfunctions.app_metadata"
            android:resource="@xml/app_metadata" />
    </application>
</manifest>
